*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  padding: 10px;
  text-align: center;
}

.todosOsRegistros{
  background-color: rgb(48, 48, 48);
  color: white;
  overflow-y: auto;
  height: 200px;
  padding: 20px;
}

ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
span{
  margin-left: 10px;
}
body section{
  padding: 10px;
}
head, label, button, ul{
  margin: 5px 0;
}

.containerWrapper{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 60rem) {
  .containerWrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
  }
}
.btnAdd{
  background-color: green;
  border: none;
  padding: 8px;
  color: white;
  border-radius: 5px;
}
.btnBuscar{
  background-color: blue;
  border: none;
  padding: 8px;
  color: white;
  border-radius: 5px;
}
.btnEditar{
  background-color: orange;
  border: none;
  padding: 8px;
  color: white;
  border-radius: 5px;
}
.btnDeletar{
  background-color: red;
  border: none;
  padding: 8px;
  color: white;
  border-radius: 5px;
}