*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  padding: 10px;
  text-align: center;
}
h2{
  padding: 5px;
}
.todosOsRegistros{
  background-color: rgb(24, 24, 24);
  color: white;
  overflow-y: auto;
  height: 200px;
  padding: 20px;
}

ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
span{
  margin-left: 10px;
}
body section{
  padding: 10px;
}
head, label, button, ul{
  margin: 5px 0;
}

.btnAdd{
  background-color: green;
  border: none;
  padding: 8px;
  color: white;
  border-radius: 5px;
}
.btnBuscar{
  background-color: blue;
  border: none;
  padding: 8px;
  color: white;
  border-radius: 5px;
}
.btnEditar{
  background-color: orange;
  border: none;
  padding: 8px;
  color: white;
  border-radius: 5px;
}
.btnDeletar{
  background-color: red;
  border: none;
  padding: 8px;
  color: white;
  border-radius: 5px;
}